:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/*Topo*/
header {
  padding: 3vw 10vw 3vw 10vw;
}
header nav { 
  display: flex;
  justify-content: space-between;
}
header nav h1{
font-size: 1.5rem;
font-weight: bold;

}
header nav ul{
display: flex;
}
header nav ul li{
 
  margin: 0px 10px;
  align-items: center;
}
/*corpo*/
header nav ul li.home a{
color: #FB2E86;
}
section.banner{
  display: flex;
  background-color: #f2f0ff;
  padding: 3VW 10VW;
}
section.banner div p.destaque{
color: #FB2E86;
font-weight: bold;
font-size: 0.7rem;
}
section.banner div h2{
 font-weight: bold;
 color: #8AB989;

}
section.banner div p{
   font-size: 0.7rem;
   background-color: 
}
